---
layout: archive
title: "Teaching2"
permalink: /teaching/
author_profile: true
---

Graduate  Barcelona School of Economics
=====

International Macroeconomics (2022-23)  Prof. Luca Fornaro
Financial Econometrics (2022-23)  Prof. Christian Brownless
Systemic Risk and Financial Crises (2022)  Prof. José-Luis Peydró
Macroeconomics II (2021)  Prof. Luca Fornaro & Danilo Guaitoli

Undergraduate  Universitat Pompeu Fabra
=====

Topics in Macroeconomics (2022-23)  Prof. F. Broner, J. Ventura & G. Ponzetto
Econometrics II (2020)  Prof. Jaume Garcia
Labour Economics (2020)  Prof. Albrecht Glitz

Lecturer
=====

Mathematics for Economists (2015, 2016, 2017, 2018)  Universidad del Pacífico
Optimization Methods (2016, 2017, 2018)  Universidad del Pacífico
Advanced Mathematics (2016)  SBS Extension Program
Advanced Microeconomics (2016)  SBS Extension Program

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
