---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<br>

<strong> Barcelona School of Economics </strong>
<ul>
  <li> International Macroeconomics (2022-23), T.A. to Prof. Luca Fornaro </li>
  <li> Financial Econometrics (2022-23), T.A. to Prof. Christian Brownless </li>
  <li> Systemic Risk and Financial Crises (2022), T.A. to Prof. José-Luis Peydró </li>
  <li> Macroeconomics II (2021), T.A. to Prof. Luca Fornaro and Danilo Guaitoli </li>
</ul>

<strong> Universitat Pompeu Fabra </strong>
<ul>
  <li> Topics in Macroeconomics (2022-23), T.A. to Prof. F. Broner, J. Ventura, G. Ponzetto, & V. Vanasco  </li>
  <li> Econometrics II (2020), T.A. to Prof. Jaume Garcia </li>
  <li> Labour Economics (2020), T.A. to Prof. Albrecht Glitz </li>
</ul>

<strong> Universidad del Pacífico </strong>
<ul>
  <li> Mathematics for Economists (2015, 2016, 2017, 2018), Lecturer </li>
  <li> Optimization Methods (2016, 2017, 2018), Lecturer </li>
</ul>

<!--
<strong> SBS Extension Program </strong>
<ul>
  <li> Advanced Mathematics (2016), Lecturer </li>
  <li> Advanced Microeconomics (2016), Lecturer </li>
</ul>
-->

<!-- <p style="color:rgb(168, 141, 34); font-size: 17pt"><strong> Universitat Pompeu Fabra </strong> </p> -->
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
