---
layout: archive
title: "Teaching2"
permalink: /teaching/
author_profile: true
---

<p style="color:rgb(168, 141, 34); font-size: 17pt"><strong> Graduate - Barcelona School of Economics </strong> </p>

<ul>
  <li> International Macroeconomics (2022-23) - Prof. Luca Fornaro </li>
  <li> Financial Econometrics (2022-23) - Prof. Christian Brownless </li>
  <li> Systemic Risk and Financial Crises (2022) - Prof. José-Luis Peydró </li>
  <li> Macroeconomics II (2021) - Prof. Luca Fornaro & Danilo Guaitoli </li>
</ul>

<h1> Undergraduate - Universitat Pompeu Fabra </h1>

<ul>
  <li> Topics in Macroeconomics (2022-23) - Prof. F. Broner, J. Ventura & G. Ponzetto </li>
  <li> Financial Econometrics (2022-23) - Prof. Christian Brownless </li>
  <li> Systemic Risk and Financial Crises (2022) - Prof. José-Luis Peydró </li>
  <li> Macroeconomics II (2021) - Prof. Luca Fornaro & Danilo Guaitoli </li>
</ul>


Econometrics II (2020)  Prof. Jaume Garcia
Labour Economics (2020)  Prof. Albrecht Glitz

Lecturer
=====

Mathematics for Economists (2015, 2016, 2017, 2018)  Universidad del Pacífico
Optimization Methods (2016, 2017, 2018)  Universidad del Pacífico
Advanced Mathematics (2016)  SBS Extension Program
Advanced Microeconomics (2016)  SBS Extension Program

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
